<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IRssFilterService" />
                <binding name="BasicHttpBinding_IRssService" />
                <binding name="BasicHttpBinding_IMailingService" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:61685/RssFilterService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRssFilterService"
                contract="RssFilterService.IRssFilterService" name="BasicHttpBinding_IRssFilterService" />
            <endpoint address="http://localhost:61685/RssLoadService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IRssService"
                contract="RssLoadService.IRssService" name="BasicHttpBinding_IRssService" />
            <endpoint address="http://localhost:61685/MailingService.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_IMailingService"
                contract="MailingService.IMailingService" name="BasicHttpBinding_IMailingService" />
        </client>
    </system.serviceModel>
</configuration>